# Preliminary Steps

In [1]:
import os
import pandas as pd
import numpy as np

The following steps will be for you to access datasets from Kaggle. If you haven't already, make sure you have created an API key on Kaggle.

View available datasets to download with keyword "starbucks"

In [2]:
!kaggle datasets list -s starbucks

You must authenticate before you can call the Kaggle API.
Follow the instructions to authenticate at: https://github.com/Kaggle/kaggle-cli/blob/main/docs/README.md#authentication

The cell below assumes you have uploaded your kaggle.json file to your ~/.kaggle directory.

In [3]:
!kaggle datasets download starbucks/starbucks-menu

Dataset URL: https://www.kaggle.com/datasets/starbucks/starbucks-menu
License(s): other
starbucks-menu.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
# Only unzip if starbucks-menu.zip hasn't been unzipped already
dir_files = os.listdir(os.getcwd())
unzipped_csvs = ['starbucks-menu-nutrition-food.csv', 'starbucks_drinkMenu_expanded.csv','starbucks-menu-nutrition-drinks.csv']
if set(dir_files).isdisjoint(set(unzipped_csvs)) and "starbucks-menu.zip" in dir_files:
    !unzip starbucks-menu.zip

:

If everything went well, you should see a dataframe after running the next cell! We'll be using the newly uploaded datasets for demonstration purposes in this notebook.

In [4]:
DATA_PATH = os.path.join(os.getcwd(), "starbucks-menu-nutrition-drinks.csv")
pd.read_csv(DATA_PATH)

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

# DataFrame Indexing - loc, iloc, and []

First, let's assign our dataset to a variable.

In [6]:
DATA_PATH = os.path.join(os.getcwd(), "starbucks-menu-nutrition-drinks.csv")
starbucksdrinks = pd.read_csv(DATA_PATH)
starbucksdrinks

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

The *Unnamed: 0* column probably isn't a good column name, so let's change that.

In [7]:
starbucksdrinks = starbucksdrinks.rename(columns={"Unnamed: 0": "Drink"})
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20,170
173,Strawberry Smoothie,300,2,60,7,16,130
174,Ginger Ale,-,-,-,-,-,-
175,Lemon Ale,-,-,-,-,-,-
176,Orange Cream Soda,-,-,-,-,-,-

Let's see some details of this DataFrame.

In [8]:
starbucksdrinks.index

RangeIndex(start=0, stop=177, step=1)

In [9]:
starbucksdrinks.columns

Index(['Drink', 'Calories', 'Fat (g)', 'Carb. (g)', 'Fiber (g)', 'Protein',
       'Sodium'],
      dtype='object')

In [10]:
starbucksdrinks.size

1239

In [11]:
starbucksdrinks.shape

(177, 7)

In [12]:
starbucksdrinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Drink      177 non-null    object
 1   Calories   177 non-null    object
 2   Fat (g)    177 non-null    object
 3   Carb. (g)  177 non-null    object
 4   Fiber (g)  177 non-null    object
 5   Protein    177 non-null    object
 6   Sodium     177 non-null    object
dtypes: object(7)
memory usage: 9.8+ KB

In [13]:
starbucksdrinks.describe()

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
count,177,177,177,177,177,177,177
unique,154,30,15,34,8,17,25
top,Tazo® Bottled Organic Iced Black Tea,-,-,-,-,-,-
freq,2,85,85,85,85,85,85

Why does the describe function look so weird? We'll revisit this later in the notebook.

### Let's start with the [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) method of indexing this DataFrame.

 Let's get the first 5 rows of the DataFrame.

In [14]:
starbucksdrinks.loc[0:4]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

You can also do this using the .head() command

In [15]:
starbucksdrinks.head()

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

Let's get specific rows and columns now.

In [16]:
starbucksdrinks.loc[[2, 83, 172], ["Drink", "Fat (g)", "Carb. (g)"]]

                          Drink Fat (g) Carb. (g)
2                    Pink Drink       -         -
83   Tazo® Bottled Lemon Ginger       0        31
172          Chocolate Smoothie       5        53

How about a certain column, but all the rows?

In [17]:
starbucksdrinks.loc[:, ["Drink"]]

                                                 Drink
0             Cool Lime Starbucks Refreshers™ Beverage
1                                     Ombré Pink Drink
2                                           Pink Drink
3       Strawberry Acai Starbucks Refreshers™ Beverage
4    Very Berry Hibiscus Starbucks Refreshers™ Beve...
..                                                 ...
172                                 Chocolate Smoothie
173                                Strawberry Smoothie
174                                         Ginger Ale
175                                          Lemon Ale
176                                  Orange Cream Soda

[177 rows x 1 columns]

Note that without putting the column argument in brackets with only one argument, a Series is returned. If you want a DataFrame, put the argument in brackets!

Finally, let's try getting a range of rows and columns.

In [18]:
starbucksdrinks.loc[40:50, "Drink":"Fat (g)"]

                                                Drink Calories Fat (g)
40               Iced Espresso Classics - Caffe Mocha      140     2.5
41         Iced Espresso Classics - Caramel Macchiato      130     2.5
42  Iced Espresso Classics - Skinny Caramel Macchiato        -       -
43      Iced Espresso Classics - Skinny Vanilla Latte        -       -
44          Starbucks Doubleshot® Energy Coffee Drink        -       -
45         Starbucks Doubleshot® Energy Mexican Mocha        -       -
46           Starbucks Doubleshot® Energy Mocha Drink        -       -
47         Starbucks Doubleshot® Energy Vanilla Drink        -       -
48  Starbucks Doubleshot® Energy White Chocolate D...        -       -
49  Starbucks Doubleshot® Energy+Cinnamon Dolce Drink        -       -
50              Starbucks Doubleshot® Espresso Cubano        -       -

In [19]:
starbucksdrinks.tail(5)

                   Drink Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

**Now you try!** In the cell below, get rows 63-80 and the columns Drink, Protein, and Sodium using the loc method.

In [20]:
# TODO
starbucksdrinks.loc[63:80, ["Drink", "Protein", "Sodium"]]

                                                Drink Protein Sodium
63  Starbucks® Bottled Mocha Light Frappuccino® Co...       -      -
64  Starbucks® Bottled S'mores Frappuccino® Coffee...       -      -
65  Starbucks® Bottled Vanilla Frappuccino® Coffee...       -      -
66  Starbucks® Bottled Vanilla Light Frappuccino® ...       -      -
67                     Starbucks® Caramel Iced Coffee       -      -
68       Starbucks® Doubleshot Protein Dark Chocolate      20    115
69              Starbucks® Doubleshot Protein Vanilla      20    120
70                      Starbucks® Iced Coffee + Milk       -      -
71                     Starbucks® Iced Coffee Caramel       1      0
72             Starbucks® Iced Coffee Light Sweetened       1      0
73                 Starbucks® Iced Coffee Unsweetened       1      0
74          Starbucks® Low Calorie Iced Coffee + Milk       -      -
75  Starbucks® Refreshers™ - Black Cherry Limeade ...       -      -
76                     Starbucks® Vanilla Iced Coffee       -      -
77                  Tazo® Bottled Berry Blossom White       0     10
78                          Tazo® Bottled Black Mango       0     15
79                     Tazo® Bottled Black with Lemon       0     10
80                         Tazo® Bottled Brambleberry       0     15

### Moving onto iloc...

Let's get the last 5 rows. Note that unlike loc, [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) is exclusive of the ending number.

In [21]:
starbucksdrinks.iloc[172:177]

                   Drink Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

You can do the same thing with the .tail() function.

In [22]:
starbucksdrinks.tail()

                   Drink Calories Fat (g) Carb. (g) Fiber (g) Protein Sodium
172   Chocolate Smoothie      320       5        53         8      20    170
173  Strawberry Smoothie      300       2        60         7      16    130
174           Ginger Ale        -       -         -         -       -      -
175            Lemon Ale        -       -         -         -       -      -
176    Orange Cream Soda        -       -         -         -       -      -

Specific columns and rows?

In [23]:
starbucksdrinks.iloc[[5, 10, 15], [0, 4]]

                            Drink Fiber (g)
5                    Violet Drink         -
10          Iced Coffee with Milk         -
15  Starbucks® Iced Coffee + Milk         -

One column and all rows (as a Series)?

In [24]:
starbucksdrinks.iloc[:, 0]

0               Cool Lime Starbucks Refreshers™ Beverage
1                                       Ombré Pink Drink
2                                             Pink Drink
3         Strawberry Acai Starbucks Refreshers™ Beverage
4      Very Berry Hibiscus Starbucks Refreshers™ Beve...
                             ...
172                                   Chocolate Smoothie
173                                  Strawberry Smoothie
174                                           Ginger Ale
175                                            Lemon Ale
176                                    Orange Cream Soda
Name: Drink, Length: 177, dtype: object

**Try getting rows 42-92 and 3 columns of your choice using .iloc!**

In [27]:
# TODO
starbucksdrinks.iloc[42:93, 2:5]

   Fat (g) Carb. (g) Fiber (g)
42       -         -         -
43       -         -         -
44       -         -         -
45       -         -         -
46       -         -         -
47       -         -         -
48       -         -         -
49       -         -         -
50       -         -         -
51       -         -         -
52       -         -         -
53       -         -         -
54       -         -         -
55       0        27         0
56       0        27         0
57       -         -         -
58       -         -         -
59       -         -         -
60       -         -         -
61       -         -         -
62       -         -         -
63       -         -         -
64       -         -         -
65       -         -         -
66       -         -         -
67       -         -         -
68     2.5        33         2
69     2.5        34         2
70       -         -         -
71       0        13         0
72       0        11         0
73       0         2         0
74       -         -         -
75       -         -         -
76       -         -         -
77       0        15         0
78       0        38         0
79       0        35         0
80       0        35         0
81       0        37         0
82       0        17         0
83       0        31         0
84       0        35         0
85       0        15         0
86       0        31         0
87       0        35         0
88       0        38         0
89       0        35         0
90       -         -         -
91       -         -         -
92       -         -         -

### Finally, let's move on to brackets [] (my personal favorite)

First 5 rows?

In [28]:
starbucksdrinks[0:5]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

Specific columns and last 7 rows?

In [29]:
starbucksdrinks[["Drink", "Fat (g)"]].tail(7)

                   Drink Fat (g)
170  Steamed Apple Juice       -
171        Vanilla Crème       6
172   Chocolate Smoothie       5
173  Strawberry Smoothie       2
174           Ginger Ale       -
175            Lemon Ale       -
176    Orange Cream Soda       -

One column?

In [30]:
starbucksdrinks['Protein']

0       0
1       -
2       -
3       0
4       0
       ..
172    20
173    16
174     -
175     -
176     -
Name: Protein, Length: 177, dtype: object

Without the bracket around the column variable, a Series is returned instead of a DataFrame.

In [31]:
starbucksdrinks[['Protein']]

    Protein
0         0
1         -
2         -
3         0
4         0
..      ...
172      20
173      16
174       -
175       -
176       -

[177 rows x 1 columns]

# Boolean Arrays

In data science, we're going to need to filter for certain traits in our data. To accomplish this, we need to use boolean arrays, which simply label rows with True/False depending on the conditions.

In [32]:
starbucksdrinks[starbucksdrinks["Protein"].astype(int) > 10]

ValueError: invalid literal for int() with base 10: '-'

But first, why did this filtering not work? Let's check the datatypes of all the columns in the DataFrame to find out.

In [33]:
starbucksdrinks.dtypes

Drink        object
Calories     object
Fat (g)      object
Carb. (g)    object
Fiber (g)    object
Protein      object
Sodium       object
dtype: object

As you can see, every columns has values that are objects, which means they are all strings (it would be the difference between 1 and "1".) We can't compare strings, so we have to convert their datatypes back to numbers first.

In [34]:
starbucksdrinks['Protein'] = pd.to_numeric(starbucksdrinks['Protein'], errors = 'coerce')
## Since we know from earlier glances at the DataFrame that columns have numbers as string types or
## "-" as string type, we have to account for both of these things. pd.to_numeric changes strings of
## numbers to int/float values, and the argument errors = 'coerce' changes any other value to a NaN value
## which allows us to change a column to what we need for analysis.

In [35]:
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0.0,10
1,Ombré Pink Drink,-,-,-,-,NaN,-
2,Pink Drink,-,-,-,-,NaN,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0.0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0.0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320,5,53,8,20.0,170
173,Strawberry Smoothie,300,2,60,7,16.0,130
174,Ginger Ale,-,-,-,-,NaN,-
175,Lemon Ale,-,-,-,-,NaN,-
176,Orange Cream Soda,-,-,-,-,NaN,-

Let's try the filtering again.

When you use a comparison operator on a DataFrame column, it returns a **boolean Series** — a list of `True`/`False` values for every row based on the condition. Here are the comparison operators you can use:

| Operator | Meaning |
|----------|---------|
| `>` | Greater than |
| `<` | Less than |
| `>=` | Greater than or equal to |
| `<=` | Less than or equal to |
| `==` | Equal to |
| `!=` | Not equal to |

Let's see what happens when we compare the Protein column to the value 10:

In [36]:
# A comparison on a column returns a boolean Series (True/False for each row)
starbucksdrinks["Protein"] > 10

0      False
1      False
2      False
3      False
4      False
       ...
172     True
173     True
174    False
175    False
176    False
Name: Protein, Length: 177, dtype: bool

Now we can pass that boolean Series inside `df[...]` to **filter** the DataFrame. Only the rows where the condition is `True` will be returned.

In [37]:
# Filter for drinks with more than 10g of protein using the > operator
starbucksdrinks[starbucksdrinks["Protein"] > 10]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
68,Starbucks® Doubleshot Protein Dark Chocolate,210,2.5,33,2,20.0,115
69,Starbucks® Doubleshot Protein Vanilla,200,2.5,34,2,20.0,120
109,Hot Chocolate,320,9,47,4,14.0,160
110,Starbucks® Signature Hot Chocolate,430,26,45,5,12.0,115
112,Caffè Latte,190,7,19,0,13.0,170
113,Caffè Mocha,290,8,42,4,13.0,140
117,Cinnamon Dolce Latte,260,6,40,0,11.0,150
118,Coconutmilk Mocha Macchiato,250,9,32,0,12.0,180
122,Flat White,180,7,18,0,12.0,160
129,Iced Coconutmilk Mocha Macchiato,260,9,34,0,11.0,180
134,Latte Macchiato,190,7,19,0,12.0,160
135,Latte Macchiato,190,7,19,0,12.0,160
138,Vanilla Latte,250,6,37,0,12.0,150
139,White Chocolate Mocha,360,11,53,0,14.0,240
146,Cinnamon Dolce Frappuccino® Blended Coffee,350,4.5,64,0,15.0,0
172,Chocolate Smoothie,320,5,53,8,20.0,170
173,Strawberry Smoothie,300,2,60,7,16.0,130

We can also combine multiple conditions using the `&` (and) and `|` (or) operators. **Important:** each condition must be wrapped in parentheses `()`.

In [38]:
# get drinks with protein more than 10 and less than 15
starbucksdrinks[(starbucksdrinks["Protein"] > 10) & (starbucksdrinks["Protein"] < 15)]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
109,Hot Chocolate,320,9,47,4,14.0,160
110,Starbucks® Signature Hot Chocolate,430,26,45,5,12.0,115
112,Caffè Latte,190,7,19,0,13.0,170
113,Caffè Mocha,290,8,42,4,13.0,140
117,Cinnamon Dolce Latte,260,6,40,0,11.0,150
118,Coconutmilk Mocha Macchiato,250,9,32,0,12.0,180
122,Flat White,180,7,18,0,12.0,160
129,Iced Coconutmilk Mocha Macchiato,260,9,34,0,11.0,180
134,Latte Macchiato,190,7,19,0,12.0,160
135,Latte Macchiato,190,7,19,0,12.0,160
138,Vanilla Latte,250,6,37,0,12.0,150
139,White Chocolate Mocha,360,11,53,0,14.0,240

Sick. We can do the same with the .loc method too.

In [39]:
starbucksdrinks.loc[starbucksdrinks["Protein"] < 10]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0.0,10
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0.0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0.0,10
8,Evolution Fresh™ Organic Ginger Limeade,110,0,28,0,0.0,5
9,Iced Coffee,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...
132,Iced Vanilla Latte,190,4,30,0,7.0,100
137,Starbucks Doubleshot® on Ice Beverage,45,1,5,0,3.0,40
150,Coffee Light Frappuccino® Blended Coffee,110,0,24,0,3.0,200
158,Mocha Frappuccino® Blended Coffee,280,2.5,60,2,4.0,220
159,Mocha Light Frappuccino® Blended Coffee,140,0.5,28,1,4.0,180

Keep in mind that NaN values are not numbers, so they are not included in the filtering. To include those rows, we'd have to change them to 0.

**If we have time, you guys try!** Filter for drinks that are greater than 100 calories but less than 200.

In [42]:
# TODO
starbucksdrinks['Calories'] = pd.to_numeric(starbucksdrinks['Calories'], errors = 'coerce')
starbucksdrinks[(starbucksdrinks["Calories"] > 100) & (starbucksdrinks["Calories"] < 200)]

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
8,Evolution Fresh™ Organic Ginger Limeade,110.0,0,28,0,0.0,5
11,Iced Espresso Classics - Vanilla Latte,130.0,2.5,21,0,5.0,65
12,Iced Espresso Classics - Caffe Mocha,140.0,2.5,23,0,5.0,90
13,Iced Espresso Classics - Caramel Macchiato,130.0,2.5,21,0,5.0,65
20,Tazo® Bottled Black Mango,150.0,0,38,0,0.0,15
21,Tazo® Bottled Black with Lemon,140.0,0,35,0,0.0,10
22,Tazo® Bottled Brambleberry,140.0,0,35,0,0.0,15
23,Tazo® Bottled Giant Peach,150.0,0,37,0,0.0,15
25,Tazo® Bottled Lemon Ginger,120.0,0,31,0,0.0,10
26,Tazo® Bottled Organic Black Lemonade,140.0,0,35,0,0.0,10
28,Tazo® Bottled Organic Iced Green Tea,120.0,0,31,0,0.0,10
29,Tazo® Bottled Plum Pomegranate,140.0,0,35,0,0.0,10
30,Tazo® Bottled Tazoberry,150.0,0,38,0,0.0,15
31,Tazo® Bottled White Cranberry,140.0,0,35,0,0.0,10
39,Iced Espresso Classics - Vanilla Latte,130.0,2.5,21,0,5.0,65
40,Iced Espresso Classics - Caffe Mocha,140.0,2.5,23,0,5.0,90
41,Iced Espresso Classics - Caramel Macchiato,130.0,2.5,21,0,5.0,65
78,Tazo® Bottled Black Mango,150.0,0,38,0,0.0,15
79,Tazo® Bottled Black with Lemon,140.0,0,35,0,0.0,10
80,Tazo® Bottled Brambleberry,140.0,0,35,0,0.0,15
81,Tazo® Bottled Giant Peach,150.0,0,37,0,0.0,15
83,Tazo® Bottled Lemon Ginger,120.0,0,31,0,0.0,10
84,Tazo® Bottled Organic Black Lemonade,140.0,0,35,0,0.0,10
86,Tazo® Bottled Organic Iced Green Tea,120.0,0,31,0,0.0,10
87,Tazo® Bottled Plum Pomegranate,140.0,0,35,0,0.0,10
88,Tazo® Bottled Tazoberry,150.0,0,38,0,0.0,15
89,Tazo® Bottled White Cranberry,140.0,0,35,0,0.0,10
108,Vanilla Sweet Cream Cold Brew,110.0,6,14,0,1.0,25
112,Caffè Latte,190.0,7,19,0,13.0,170
114,Cappuccino,120.0,4,12,0,8.0,100
122,Flat White,180.0,7,18,0,12.0,160
124,Iced Caffè Latte,130.0,4.5,13,0,8.0,115
132,Iced Vanilla Latte,190.0,4,30,0,7.0,100
134,Latte Macchiato,190.0,7,19,0,12.0,160
135,Latte Macchiato,190.0,7,19,0,12.0,160
150,Coffee Light Frappuccino® Blended Coffee,110.0,0,24,0,3.0,200
159,Mocha Light Frappuccino® Blended Coffee,140.0,0.5,28,1,4.0,180

# Utility Functions

Now that we have numeric column(s), the describe function should look more useful.

In [43]:
starbucksdrinks.describe()

         Calories    Protein
count   92.000000  92.000000
mean   135.163043   4.152174
std     93.853554   5.691588
min      0.000000   0.000000
25%     60.000000   0.000000
50%    130.000000   1.000000
75%    190.000000   8.250000
max    430.000000  20.000000

How many of each value do we have?

In [44]:
starbucksdrinks['Protein'].value_counts()

Protein
0.0     45
1.0     10
5.0      6
12.0     6
10.0     5
20.0     3
14.0     2
13.0     2
8.0      2
11.0     2
7.0      2
3.0      2
4.0      2
9.0      1
15.0     1
16.0     1
Name: count, dtype: int64

What unique values do we have?

In [45]:
starbucksdrinks['Protein'].unique()

array([ 0., nan,  5., 20.,  1., 14., 12., 13.,  8., 10., 11.,  9.,  7.,
        3., 15.,  4., 16.])

Let's sort the drinks from most to least protein.

In [46]:
starbucksdrinks.sort_values(by = 'Protein', ascending = False)

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
172,Chocolate Smoothie,320.0,5,53,8,20.0,170
69,Starbucks® Doubleshot Protein Vanilla,200.0,2.5,34,2,20.0,120
68,Starbucks® Doubleshot Protein Dark Chocolate,210.0,2.5,33,2,20.0,115
173,Strawberry Smoothie,300.0,2,60,7,16.0,130
146,Cinnamon Dolce Frappuccino® Blended Coffee,350.0,4.5,64,0,15.0,0
...,...,...,...,...,...,...,...
169,Organic Chocolate Milk Box,NaN,-,-,-,NaN,-
170,Steamed Apple Juice,NaN,-,-,-,NaN,-
174,Ginger Ale,NaN,-,-,-,NaN,-
175,Lemon Ale,NaN,-,-,-,NaN,-
176,Orange Cream Soda,NaN,-,-,-,NaN,-

# Adding/Dropping Columns

Pretty self explanatory why this would be useful to know - data exploration, feature engineering, etc.

Let's create a column that tells us if a drink has a lot of protein.

In [47]:
starbucksdrinks['High Protein'] = np.where(starbucksdrinks['Protein'] > 10, True, False)
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium,High Protein
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0,11,0,0.0,10,False
1,Ombré Pink Drink,NaN,-,-,-,NaN,-,False
2,Pink Drink,NaN,-,-,-,NaN,-,False
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0,18,1,0.0,10,False
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0,14,1,0.0,10,False
...,...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320.0,5,53,8,20.0,170,True
173,Strawberry Smoothie,300.0,2,60,7,16.0,130,True
174,Ginger Ale,NaN,-,-,-,NaN,-,False
175,Lemon Ale,NaN,-,-,-,NaN,-,False
176,Orange Cream Soda,NaN,-,-,-,NaN,-,False

Now let's [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) that column to get back to the original DataFrame.

In [48]:
starbucksdrinks = starbucksdrinks.drop('High Protein', axis = 'columns')
starbucksdrinks

,Drink,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45.0,0,11,0,0.0,10
1,Ombré Pink Drink,NaN,-,-,-,NaN,-
2,Pink Drink,NaN,-,-,-,NaN,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80.0,0,18,1,0.0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60.0,0,14,1,0.0,10
...,...,...,...,...,...,...,...
172,Chocolate Smoothie,320.0,5,53,8,20.0,170
173,Strawberry Smoothie,300.0,2,60,7,16.0,130
174,Ginger Ale,NaN,-,-,-,NaN,-
175,Lemon Ale,NaN,-,-,-,NaN,-
176,Orange Cream Soda,NaN,-,-,-,NaN,-

# Groupby and Merging

The [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) method would be pretty bad to demonstrate on the starbucksdrinks DataFrame, so I'll use the documented example to demonstrate.

In [49]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Let's get the average speeds of the animals.

In [50]:
df.groupby('Animal').mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

How about the total max speeds?

In [51]:
df.groupby('Animal').sum()

        Max Speed
Animal
Falcon      750.0
Parrot       50.0

For [merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html), we'll also be taking the example from the pandas documentation.

In [52]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1

     a  b
0  foo  1
1  bar  2

In [53]:
df2

     a  c
0  foo  3
1  baz  4

An inner merge gets only the  rows in a column that have the same value.

In [54]:
df1.merge(df2, how='inner', on='a')

     a  b  c
0  foo  1  3

The default merge is an inner join, so do not need to specify the *how* attribute.

In [55]:
df1.merge(df2, on='a')

     a  b  c
0  foo  1  3

We inner merged on column 'a', and the only row that matches in both DataFrames is foo.

A left join returns all the rows of the first DataFrame named, along with the values that it may match with in the other DataFrame. A right join works the same but with the second DataFrame.

In [56]:
df1.merge(df2, how='left', on='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

We can see that since the value bar does not exist in df2, the value returned is NaN.

In [57]:
df1.merge(df2, how = 'right', on = 'a')

     a    b  c
0  foo  1.0  3
1  baz  NaN  4

Lastly, a cross join gets every combination of rows from both tables. Be careful when you use this, as it has potential to create very large, useless datasets!

In [58]:
df1.merge(df2, how='cross')

   a_x  b  a_y  c
0  foo  1  foo  3
1  foo  1  baz  4
2  bar  2  foo  3
3  bar  2  baz  4

And that's it for today! Thanks for coming!